@charset "utf-8";

html{height:100%;}
body{
    margin:0;
    padding:0;
  background: url(../images/defaultbg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #1E6FCB;
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
    font-family: calibri, serif;
    color:#002040;
	overflow-x: hidden;
}

td {
	min-width: 350px;
}


a:visited {
    color: #2D83D8;
	text-decoration: none;
}

a:link { 
    color: #2D83D8;
	text-decoration: none;
}

a:hover { 
    color: #FB9E3B;
	text-decoration: none;
}


.navigation {
	position: relative;
	top: 0;
	width: 100%;
	z-index: 21;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.4);
	background-repeat: repeat-x;
	background-position: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	text-align: center;
}

.redirect {
	position: relative;
	top: 0;
	width: 100%;
	z-index: 21;
	color: rgba(255,255,255,1);
	background-color: rgba(255,0,0,1);
	background-repeat: repeat-x;
	background-position: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	text-align: center;
}

.logo {
	position: relative;
	z-index: 20;
	margin-top: 2%;
	margin-left: 2%;
	opacity: 1; 
    transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.logo:hover {
	opacity: 0.5;
}

.content {
	position: relative;
	z-index:20;
	margin: 0 auto;
	margin-top: 3%;
	width:60%;
	padding: 20px 10px 20px 20px;
	background: #FFFFFF;
    border-radius: 12px;
	word-wrap: break-word;
	overflow: hidden;
}

.sidebar {
}
.footer {
	margin: 0 0 0 00px;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 21;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.4);
	background-repeat: repeat-x;
	background-position: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	bottom: 0;
}

.above-footer {
	font-size: 8pt;
	float: bottom;
	right: 25px;
	padding: 0 0 25px 0;
	position: fixed;
	width: 100%;
	z-index: 10;
	color: rgba(255,255,255,1);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: right;
	bottom: 0;
}

#entry {
	display: block;
}

#entry td {
	display: inline-block;
}

#left {
	padding: 20px;
}

.pagelink {
	position: relative;
	z-index:20;
	margin: 0 auto;
	padding: 20px 10px 20px 20px;
	background: #FFFFFF;
    border-radius: 12px;
	font-size: 36px;
}

.pagelink:hover {
	background: #66AFFF;
	color: #002040;
}

.download {
	border-radius: 12px;
	position: relative;
	z-index:20;
	width: 270px;
	color: #FFFFFF;
	background: #66AFFF;
    margin-top:auto;
    margin-bottom:auto;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}

.download:hover {
	border-radius: 12px;
	position: relative;
	z-index:20;
	width: 270pz;
	color: #FFFFFF;
	background: #2676CC;
    margin-top:auto;
    margin-bottom:auto;
	text-align: center;
	margin: 0 auto;
}

.download-2 {
	border-radius: 12px;
	position: relative;
	z-index:20;
	width: 270px;
	color: #FFFFFF;
	background: #FB9E3B;
    margin-top:auto;
    margin-bottom:auto;
	text-align: center;
	margin: 0 auto;
}

.download-2:hover {
	border-radius: 12px;
	position: relative;
	z-index:20;
	width: 270pz;
	color: #FFFFFF;
	background: #E07000;
    margin-top:auto;
    margin-bottom:auto;
	text-align: center;
	margin: 0 auto;
}

.download-3 {
	border-radius: 12px;
	position: absolute;
	z-index:20;
	width: 270px;
	color: #FFFFFF;
	background: #66AFFF;
    margin-top:auto;
    margin-bottom:auto;
	text-align: center;
	margin: 0 auto;
}

.download-3:hover {
	border-radius: 12px;
	position: absolute;
	z-index:20;
	width: 270px;
	color: #FFFFFF;
	background: #2676CC;
    margin-top:auto;
    margin-bottom:auto;
	text-align: center;
	margin: 0 auto;
}

.download-as {
	border-radius: 5px;
	position: relative;
	z-index:20;
	width: 270px;
	color: #FFFFFF;
	background: #66AFFF;
    margin-top:auto;
    margin-bottom:auto;
	text-align: center;
	margin: 0 auto;
}

.download-as ul {
	width: 100%;
	padding: 0;
	margin: 0;
	display:none;
}

.download-as:hover {
	color: #FFFFFF;
	background: #2676CC;
    margin-top:auto;
    margin-bottom:auto;
	text-align: center;
	margin: 0 auto;
}

.download-as:hover ul {
	display:block;
}

.download-as li:hover {
	background-color: rgba(0,0,0,0.3);
}

.download-as li {
	background-color: rgba(0,0,0,0.5);
	list-style: none;
}

.download-as li:last-of-type {
	border-radius: 0 0 5px 5px;
}

.content img {
    max-width: 100%;
    max-height: 100%;
}


.getlink {
	position:absolute;
	top:0;
	right:0;
	height: 25px;
	width: 25px;
	border-radius: 0 0 0 5px;
	background-color: #C3C7E0;
	color: #9DA4C6;
	text-align: center;
	padding-top: 5px;
	font-size: 12pt;
}

.getlink:hover {
	height: 45px;
	width: 45px;
	background-color: #9DA4C6;
	color: #C3C7E0;
	font-size: 24pt;
}

.tab { 
margin-left: 20px;
 }
 
.warning {
	position: relative;
	z-index:20;
	margin: 0 auto;
	margin-top: 3%;
	width:60%;
	padding: 20px 10px 20px 20px;
	background: #FF9696;
    border-radius: 12px;
	word-wrap: break-word;
	overflow: hidden;
}

.update {
	position: relative;
	z-index:20;
	margin: 0 auto;
	margin-top: 3%;
	width:60%;
	padding: 20px 10px 20px 20px;
	background: #96FF96;
    border-radius: 12px;
	word-wrap: break-word;
	overflow: hidden;
}