html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #029BFB;
    font-family: calibri, serif;
    color: #002040;
    overflow-x: hidden;
}

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

a {
    color: #66AFFF;
}

a:visited {
    color: #66AFFF;
    text-decoration: none;
}

a:link {
    color: #66AFFF;
    text-decoration: none;
}

a:hover {
    color: #FB9E3B;
    text-decoration: none;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}


.navigation {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 21;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.4);
    background-repeat: repeat-x;
    background-position: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    text-align: center;
}

.logo {
    position: relative;
    z-index: 20;
    margin-top: 2%;
    margin-left: 2%;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.logo:hover {
    opacity: 0.5;
}

.content-outer {
    position: relative;
    margin: 0 auto;
    padding: 1% 0 0% 0;
}

.content-outer:after {
    outline-color: #000;
    outline-width: 3px;
    outline-style: solid;
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #000;
    transform: skewY(-2deg);
    animation-name: outline;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.content {
    position: relative;
    z-index: 21;
    margin: 0 auto;
    margin-top: 3%;
    background-color: #FFF;
    color: #000;
    padding-top: 10px;
    margin: 1.5% 1% 1% 1%;
    padding: 0% 0% 2% 2%;
    word-wrap: break-word;
    overflow: hidden;
    transform: skewY(-1deg);
    transform-origin: top left;
}

.text {
    transform: skewY(1deg);
    transform-origin: top left;
}

select {
    color: #000;
    background-color: #FFF;
    border-width: 0px;
}

@keyframes outline {
    0% { transform: skewY(-1.5deg); }
    10% { transform: skewY(-1.3deg); }
    20% { transform: skewY(-1.1deg); }
    30% { transform: skewY(-1.3deg); }
    40% { transform: skewY(-1.5deg); }
    50% { transform: skewY(-1.3deg); }
    60% { transform: skewY(-1.5deg); }
    70% { transform: skewY(-1.7deg); }
    80% { transform: skewY(-1.4deg); }
    90% { transform: skewY(-1.7deg); }
    100% { transform: skewY(-1.4deg); }
}

@keyframes outline2 {
    0% { transform: skewY(-2.5deg); }
    10% { transform: skewY(-1.3deg); }
    20% { transform: skewY(4.1deg); }
    30% { transform: skewY(1.3deg); }
    40% { transform: skewY(-3.5deg); }
    50% { transform: skewY(2.3deg); }
    60% { transform: skewY(-5.5deg); }
    70% { transform: skewY(-4.7deg); }
    80% { transform: skewY(2.4deg); }
    90% { transform: skewY(-1.7deg); }
    100% { transform: skewY(-3.4deg); }
}

.tag {
    background: #fff;
    display: inline-block;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    margin-left: 7px;
    margin-bottom: 5px;
}

.tag:hover {
    background: #f0f0f0;
    display: inline-block;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    margin-left: 7px;
    margin-bottom: 5px;
}

.footer {
    margin: 0 0 0 00px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 21;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.4);
    background-repeat: repeat-x;
    background-position: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    text-align: center;
    bottom: 0;
}

.above-footer {
    font-size: 8pt;
    float: bottom;
    right: 25px;
    padding: 0 0 25px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    color: rgba(255,255,255,1);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    text-align: right;
    bottom: 0;
}

#entry {
    display: block;
}

#entry td {
    display: inline-block;
}

#left {
    padding: 20px;
}

.pagelink {
    position: relative;
    z-index: 20;
    margin: 0 auto;
    padding: 20px 10px 20px 20px;
    background: #FFFFFF;
    border-radius: 12px;
    font-size: 36px;
}

.pagelink:hover {
    background: #66AFFF;
    color: #002040;
}

.guide {
    border-radius: 12px;
    position: relative;
    z-index: 20;
    width: 100%;
    color: #FFF;
    background: #66AFFF;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.unhide {
    position: relative;
    z-index: 20;
    width: 270px;
    color: #000;
    margin-top: 10px;
    margin-bottom: auto;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.unhide:after {
    position: absolute;
    z-index: -1;
    width: 75%;
    left: 35px;
    height: 100%;
    color: #000;
    margin-top: 10px;
    margin-bottom: auto;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: #bddeff;
    content: "";
    transform: skewY(-4deg);
    animation-name: outline2;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}

.unhide a {
    color: #000;
}

.unhide:hover {
    color: #FFF;
}

.unhide:hover a {
    color: #FB9E3B;
}

.guide a {
    color: #FFF;
}

.guide a:hover {
    color: #FFF;
}

.guide a:visited {
    color: #FFF;
}

.download-as {
    border-radius: 5px;
    position: relative;
    z-index: 20;
    max-width: 270px;
    color: #FFFFFF;
    background: #66AFFF;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin: 0 auto;
}

.download-as ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.download-as:hover {
    color: #FFFFFF;
    background: #2676CC;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin: 0 auto;
}

.download-as:hover ul {
    display: block;
}

.download-as li:hover {
    background-color: rgba(0,0,0,0.3);
}

.download-as li {
    background-color: rgba(0,0,0,0.5);
    list-style: none;
}

.download-as li:last-of-type {
    border-radius: 0 0 5px 5px;
}

.guides {
    border-radius: 5px;
    position: relative;
    z-index: 20;
    max-width: 270px;
    color: #FFFFFF;
    background: #fb9e3b;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin: 0 auto;
}

.guides ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.guides:hover {
    color: #FFFFFF;
    background: #ff8300;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin: 0 auto;
}

.guides:hover ul {
    display: block;
}

.guides li:hover {
    background-color: rgba(0,0,0,0.3);
}

.guides li {
    background-color: rgba(0,0,0,0.5);
    list-style: none;
}

.guides li:last-of-type {
    border-radius: 0 0 5px 5px;
}

.content img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    z-index: 2;
}


.getlink {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    border-radius: 0 0 0 5px;
    background-color: #C3C7E0;
    color: #9DA4C6;
    text-align: center;
    padding-top: 5px;
    font-size: 12pt;
}

.new {
    z-index: 30;
    font: bold 15px sans-serif;
    color: #fff;
    text-align: center;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    position: relative;
    padding: 7px 0;
    top: 20px;
    left: -35px;
    width: 120px;
    color: #fff;
}

.new:after {
    z-index: -1;
    background: #000;
    color: #fff;
    text-align: center;
    position: absolute;
    padding: 7px 0;
    top: 0px;
    left: 30px;
    width: 50%;
    height: 50%;
    color: #fff;
    content: "";
    animation-name: outline2;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    outline-style: solid;
}

.getlink:hover {
    height: 45px;
    width: 45px;
    background-color: #9DA4C6;
    color: #C3C7E0;
    font-size: 24pt;
}

.tab {
    margin-left: 20px;
}

.warning {
    position: relative;
    z-index: 20;
    margin: 0 auto;
    margin-top: 3%;
    width: 60%;
    padding: 20px 10px 20px 20px;
    background: #FF9696;
    border-radius: 12px;
    word-wrap: break-word;
    overflow: hidden;
}

.update {
    position: relative;
    padding: 20px 10px 20px 20px;
}

.toggle-title {
    position: relative;
    display: block;
    margin-top: 6px;
}

.toggle-title:hover {
    background-color: #bddeff;
}

.toggle-inner {
    display: none;
}

.cheatcode {
    max-height: 120px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.11));
}

.copied {
    z-index: 30;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    color: white;
    font-size: 42px;
    vertical-align: baseline;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
    margin: 0px 4px 0px 2px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: table-footer-group;
    position: relative;
    float: left;
    margin: 0 12px 0 0;
}

/* This hides the dropdowns */
.navigation li ul {
    display: none;
}

.navigation ul li a {
    display: table-footer-group;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
}

.navigation ul li a:hover {
    background: rgba(0,0,0,0.1);
}
/* Display the dropdown */
.navigation li:hover > ul {
    display: table-footer-group;
    position: absolute;
}
/* Remove float from dropdown lists */
.navigation li:hover li {
    float: none;
}

.navigation li:hover a {
    background: rgba(0,0,0,0.4);
}

.navigation li:hover li a:hover {
    background: rgba(0,0,0,0.5);
}

.main-navigation li ul li {
    border-top: 0;
}
/* Displays second level dropdowns to the right of the first level dropdown */
.navigation ul ul ul {
    left: 100%;
    top: 0;
}

/* Simple clearfix */

.navigation ul:before,
.navigation ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.navigation ul:after {
    clear: both;
}

.widget {
    color: #FFF;
    font-size: 15px;
}

.widgetcontainer {
    font-size: 15px;
    z-index: 20;
    border-radius: 12px;
    padding: 0px 5px 5px 5px;
}

@media only screen and (max-width: 900px) {
    .content {
        width: 93%;
        font-size: 12px;
    }

    .footer {
        display: none;
    }

    .widget {
        font-size: 50%;
    }

    .sidenav {
        font-size: 50%;
    }

    table {
        border-spacing: 0px;
    }

    #scroller {
        position: absolute;
        top: 0;
        left: 5px;
        bottom: 0;
        right: -20px;
        overflow-y: scroll;
    }
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
    padding-top: 50px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    padding-left: 6px;
    color: #FB9E3B;
}

@media (prefers-color-scheme: dark) {

    select {
        color: #FFF;
        background-color: #000;
        border-width: 0px;
    }

    .widgetcontainer {
        background-color: #222222;
    }

    body {
        background-color: #0B2653;
        color: #ccc;
    }

    .logo {
        opacity: 0.5;
    }

    .logo:hover {
        opacity: 0.2;
    }

    .content {
        background-color: #000;
        color: #FFF;
    }

    .content-outer:after {
        outline-color: #FFF;
        background-color: #FFF;
    }

    .tag {
        background: #333333;
    }

    .tag:hover {
        background: #444444;
    }

    .content img {
        opacity: 0.7;
    }

    .pagelink {
        background: #111111;
    }

    .pagelink:hover {
        background: #000000;
    }

    .toggle-title:hover {
        background-color: #333333;
    }

    .unhide:after {
        background-color: #66AFFF;
    }

    .getlink {
        background: #4e4e4e;
        opacity: 0.3;
    }

    .getlink:hover {
        background: #000;
    }

    .download-as {
        background: #24578e;
    }

    .guide {
        background: #24578e;
    }

    .logo {
        opacity: 0.5;
    }

    .logo:hover {
        opacity: 0.3;
    }

    .new {
        color: #000;
    }

    .new:after {
        background: #fff;
        color: #000;
    }
}