html {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #029BFB;
    font-family: 'Open Sans', serif;
    color: #002040;
    overflow-x: hidden;
    overflow-x: hidden;
}

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
	text-align:center; 
	margin-left:auto; 
	margin-right:auto; 
}

tr, td {
	text-align:left;
	vertical-align: top;
}

td {
	padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'News Cycle', serif;
    margin-top: 0px;
    margin-bottom: -5px;
}

a {
    color: #009FFF;
}

a:visited {
    color: #009FFF;
    text-decoration: none;
}

a:link {
    color: #009FFF;
    text-decoration: none;
}

a:hover {
    color: #FB9E3B;
    text-decoration: none;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}


.navigation {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 21;
    color: #111;
    background-color: #fff;
    background-repeat: repeat-x;
    background-position: left;
    font-family: 'News Cycle', serif;
    font-size: 18px;
    text-align: center;
}

.navigation img {
	vertical-align: middle;
}

.navbar2 {
    font-size: 20px;
    line-height: 3.8;
    min-height: 80px;
    padding: 0 0% 0 5%;
    position: relative;
	background-color: #fff;
    color: #222;
}

.logo {
    position: relative;
    z-index: 2;
    opacity: 1;
}

.content {
    position: relative;
    width: 100%;
    background-color: #0075be7f;
    padding: 1%;
}

.content a {
    color: #fff;
}

.content a:visited {
    color: #fff;
    text-decoration: none;
}

.content a:link {
    color: #fff;
    text-decoration: none;
}

.content a:hover {
    color: #FB9E3B;
    text-decoration: none;
}

.text {
    width:98%; 
    margin:1%;
}

select {
    color: #000;
    background-color: #FFF;
    border-width: 0px;
}

.tag {
    background: rgba(138, 180, 248, 0.35);
    display: inline-block;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    margin-left: 7px;
    margin-bottom: 5px;
}

.tag:hover {
    background: rgba(138, 180, 248, 0.55);
    display: inline-block;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    margin-left: 7px;
    margin-bottom: 5px;
}

.footer {
    margin: 0 0 0 00px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 21;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.4);
    background-repeat: repeat-x;
    background-position: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    text-align: center;
    bottom: 0;
}

.above-footer {
    font-size: 8pt;
    float: bottom;
    right: 25px;
    padding: 0 0 25px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    color: rgba(255,255,255,1);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    text-align: right;
    bottom: 0;
}

#entry {
    display: block;
}

#entry td {
    display: inline-block;
}

#left {
    padding: 20px;
}

.content img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    z-index: 2;
}

.unhide {
	background-color: #fff;
    padding: 20px;
    position: relative;
    margin: 10px;
    font-size: 30px;
}

.getlink {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    border-radius: 0 0 0 5px;
    background-color: #C3C7E0;
    color: #9DA4C6;
    text-align: center;
    padding-top: 5px;
    font-size: 12pt;
}

.new {
    z-index: 30;
    font: bold 15px sans-serif;
    color: #000;
    text-align: center;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    position: relative;
    padding: 7px 0;
    top: 20px;
    left: -35px;
    width: 120px;
    color: #000;
}

.new:after {
    z-index: -1;
    background: #fff;
    color: #000;
    text-align: center;
    position: absolute;
    padding: 7px 0;
    top: 0px;
    left: 30px;
    width: 50%;
    height: 50%;
    color: #000;
    content: "";
    animation-name: outline2;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    outline-style: solid;
}

.getlink:hover {
    height: 45px;
    width: 45px;
    background-color: #9DA4C6;
    color: #C3C7E0;
    font-size: 24pt;
}

.tab {
    margin-left: 20px;
}

.warning {
    position: relative;
    z-index: 20;
    margin: 0 auto;
    margin-top: 3%;
    width: 60%;
    padding: 20px 10px 20px 20px;
    background: #FF9696;
    border-radius: 12px;
    word-wrap: break-word;
    overflow: hidden;
}

.update {
    position: relative;
    padding: 20px 10px 20px 20px;
}

.toggle-title {
    position: relative;
    display: block;
    margin-top: 6px;
}

.toggle-title:hover {
    background-color: #009FFF73;
}

.toggle-inner {
    display: none;
}

.cheatcode {
    max-height: 120px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.11));
}

.copied {
    z-index: 30;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    color: white;
    font-size: 42px;
    vertical-align: baseline;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
    margin: 0px 4px 0px 2px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: table-footer-group;
    position: relative;
    float: left;
    margin: 0 12px 0 0;
}

/* This hides the dropdowns */
.navigation li ul {
    display: none;
}

.navigation ul li a {
    display: table-footer-group;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
}

.navigation ul li a:hover {
    background: rgba(0,0,0,0.1);
}
/* Display the dropdown */
.navigation li:hover > ul {
    display: table-footer-group;
    position: absolute;
}
/* Remove float from dropdown lists */
.navigation li:hover li {
    float: none;
}

.navigation li:hover a {
    background: rgba(0,0,0,0.4);
}

.navigation li:hover li a:hover {
    background: rgba(0,0,0,0.5);
}

.main-navigation li ul li {
    border-top: 0;
}
/* Displays second level dropdowns to the right of the first level dropdown */
.navigation ul ul ul {
    left: 100%;
    top: 0;
}

/* Simple clearfix */

.navigation ul:before,
.navigation ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.navigation ul:after {
    clear: both;
}

.widget {
    color: #FFF;
    font-size: 15px;
}

.widgetcontainer {
    font-size: 15px;
    z-index: 20;
    border-radius: 12px;
    padding: 0px 5px 5px 5px;
}

.floatbottom {
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0px;
}

@media only screen and (max-width: 900px) {
    .footer {
        display: none;
    }

    .widget {
        font-size: 50%;
    }
	
	.widget {
        font-size: 50%;
    }

    .sidenav {
        font-size: 50%;
    }

    table {
        border-spacing: 0px;
    }

    #scroller {
        position: absolute;
        top: 0;
        left: 5px;
        bottom: 0;
        right: -20px;
        overflow-y: scroll;
    }
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
    padding-top: 50px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    padding-left: 6px;
    color: #FB9E3B;
}

select {
	color: #FFF;
	background-color: #000;
	border-width: 0px;
}

.widgetcontainer {
	background-color: #222222;
}

body {
	background-color: #0B2653;
	color: #ccc;
}

.logo {
	opacity: 0.5;
}

.navigation {
	background-color: #111;
	color: #fff;
}

.navbar2 {
	background-color: #111;
	color: #fff;
}

.content {
	background-color: #1111117F;
	color: #fff;
}

.content a {
	color: #009FFF;
}

.content a:visited {
	color: #009FFF;
}
	
.content a:link {
	color: #009FFF;
}

.content a:hover {
	color: #FB9E3B;
}

.tag {
	background: #00000087;
}

.tag:hover {
	background: #ffffff27;
}

.content img {
	opacity: 0.7;
}

.pagelink {
	background: #111111;
}

.pagelink:hover {
	background: #000000;
}

.unhide:after {
	background-color: #009FFF;
}

.getlink {
	background: #4e4e4e;
	opacity: 0.3;
}

.getlink:hover {
	background: #000;
}

.unhide {
	background-color: #111;
}