<!doctype html>
<html>
<head>
    <link rel='shortcut icon' href='images/favicon.png' type='image/x-icon' />
    <meta charset="utf-8">
    <title>Amicitia - Flowscript</title>
    <link href="../css/waves.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link href="../css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="../css/select.css" rel="stylesheet" type="text/css">
    <link href="../css/amicitia.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/4c3075832a.js" crossorigin="anonymous"></script>
    <script src="https://shrinefox.com/Scripts/Amicitia/jquery-3.3.1.min.js"></script>
    <script src="../js/bubbles.js"></script>
    <script src="../js/showhide.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div class="copied">Cheat copied to clipboard!</div>
    <!--Sidebar Toggle-->
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" style="position: fixed;display:none;">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <!--Sidebar Menu-->
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <p>Amicitia Network</p>
            <a href="https://shrinefox.com/"><li class="inactive"><i class="fa fa-home"></i> ShrineFox.com</li></a>
            <a href="https://amicitia.github.io/"><li class="inactive"><i class="fa fa-desktop"></i> amicitia.github.io</li></a>
            <a href="https://shrinefox.com/forum"><li class="inactive"><i class="fa fa-comments-o"></i> Forum</li></a>
            <a href="https://shrinefox.com/guides/"><li class="inactive"><i class="fa fa-graduation-cap"></i> Guides</li></a>
            <a href="https://amicitia.miraheze.org/wiki/Main_Page"><li class="inactive"><i class="fa fa-users"></i> Wiki</li></a>
            <a href="https://amicitia-team.tumblr.com/"><li class="inactive"><i class="fa fa-newspaper"></i> News</li></a>
            <a href="https://shrinefox.com/forum/app.php/faqpage"><li class="inactive"><i class="fa fa-question-circle"></i> FAQs</li></a>
            <p>Apps</p>
            <a href="https://shrinefox.com/textsearch"><li class="inactive"><i class="fa fa-search"></i> Text Search</li></a>
            <a href="https://amicitia.github.io/docs/flowscript"><li class="active"><i class="fa fa-file-code"></i> Flowscript Docs</li></a>
            <a href="https://amicitia.github.io/files"><li class="inactive"><i class="fa fa-folder-open"></i> Files</li></a>
            <a href="https://shrinefox.com/PatchCreator"><li class="inactive"><i class="fa fa-check-square"></i> Patch.yml Creator</li></a>
        </ul>
    </div>
    <!--Header-->
    <div class="header">
        <canvas id="bgCanvas"></canvas>
        <!--Logo and Header Text-->
        <div>
            <center>
                <table>
                    <tr>
                        <td style="text-align:right;">
                            <div class="logo"><a href="https://amicitia.github.io.com/"><img src="https://amicitia.github.io/images/logo.svg"></a></div>
                        </td>
                        <td>
                            <h1>amicitia.github.io</h1>
                            <h2>flowscript documentation</h2>
                        </td>
                    </tr>
                </table>
            </center>
        </div>
        <!--Waves-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(17,17,17,0.33)" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(17,17,17,0.6)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(17,17,17,0.6)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(17,17,17,1)" />
                </g>
            </svg>
        </div>
        <!--Waves End-->
    </div>
    <!--Header End-->
    <div class="content">
        <table>
            <tbody>
                <tr>
                    <td width="25%" style="vertical-align:top">
