</div></div></div></td></tr></table></div>
<br />
<br />
<p style="font-size: 12px;line-height: 0.9;text-align:right;padding-right:10px;color:#fff;">
    We are not affiliated, associated, authorized, endorsed by, or in any way
    <br>officially connected with ATLUS, SEGA, or any of its subsidiaries or its affiliates.
    <br>The official ATLUS website can be found at <a href="https://atlus.com">https://atlus.com</a>. "Persona", as well
    <br>as all characters referenced on this page are registered trademarks of ATLUS.
</p>
<br />
<br />
<div class="floatbottom">
    <div class="ocean" style="bottom:180px">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</div>
</body>
<footer>
    <div class="footer">&copy; ShrineFox
