<!doctype html>
<html>
<head>
    <link rel='shortcut icon' href='favicon.png' type='image/x-icon' />
    <meta charset="utf-8">
    <title>Amicitia</title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="css/waves.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/4c3075832a.js" crossorigin="anonymous"></script>
    <script src="https://amicitia.github.io/js/jquery-3.3.1.min.js"></script>
    <script src="js/bubbles.js"></script>
    <script src="js/showhide.js"></script>
    <script src="js/navigation.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans">
</head>
<body>
    <span class="copied">Copied cheat to clipboard</span>
    <canvas id='bgCanvas'></canvas>
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    
    <div class="navigation" style="text-align:center;">
        <ul class="main-navigation" style="display:inline-table;">
            <li style="display:inline;"><a href="#!"><img src="images/amicitia.svg" width="20" height="20"> Mods</a> </li>
            <li style="display:inline;"><a href="http://amicitia-team.tumblr.com"><i class="fas fa-newspaper"></i> News</a> </li>
            <li style="display:inline;"><a href="https://shrinefox.com/guides/"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Guides</a> </li>
            <li style="display:inline;"><a href="https://shrinefox.com/forum/"><i class="fa fa-comment" aria-hidden="true"></i> Forum</a> </li>
            <li style="display:inline;"><a href="https://amicitia.miraheze.org/wiki/Main_Page"><i class="fa fa-users" aria-hidden="true"></i> Wiki</a> </li>
            <li style="display:inline;">
                <a href="#"><i class="fa fa-toolbox"></i> Toolbox</a>
                <ul>
                    <li><a href="https://shrinefox.com/textsearch"><i class="fa fa-search"></i> Dialog Search</a></li>
                    <li><a href="https://amicitia.github.io/docs/flowscript"><i class="fa fa-file-code"></i> Flowscript Docs</a></li>
                    <li><a href="https://shrinefox.com/MenuCreator"><i class="fa fa-check-square"></i> P4G Menu Creator</a></li>
                    <li><a href="https://shrinefox.com/PatchCreator"><i class="fa fa-check-square"></i> Patch.yml Creator</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="logo">
        <center>
            <a href="https://amicitia.github.io/">
                <img src="images/logo.svg" width="179" height="179">
            </a>
        </center>
    </div>
    <div class="navbar2"><a href="https://shrinefox.com/"><i class="fa fa-home"></i> Home</a> ► <a href="https://amicitia.github.io/">Amicitia</a>