<!doctype html>
<html>
<head>
    <link rel='shortcut icon' href='images/favicon.png' type='image/x-icon' />
    <meta charset="utf-8">
    <title>Amicitia</title>
    <link href="css/waves.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="css/select.css" rel="stylesheet" type="text/css">
    <link href="css/amicitia.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/4c3075832a.js" crossorigin="anonymous"></script>
    <script src="https://shrinefox.com/Scripts/Amicitia/jquery-3.3.1.min.js"></script>
    <script src="js/bubbles.js"></script>
    <script src="js/showhide.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
</head>
    <body>
    <div class="copied">Cheat copied to clipboard!</div>
        <!--Sidebar Toggle-->
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        <!--Sidebar Menu-->
        <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
                <p style="color:#FFFFFF7F;padding-left:14px;">Amicitia Network</p>
                <li class="active"><a href="https://amicitia.github.io/"><i class="fa fa-desktop"></i> amicitia.github.io</a></li>
                <li><a href="https://shrinefox.com/forum"><i class="fa fa-comments-o"></i> Forum</a></li>
                <li><a href="https://shrinefox.com/guides/"><i class="fa fa-graduation-cap"></i> Guides</a></li>
                <li><a href="https://amicitia.miraheze.org/wiki/Main_Page"><i class="fa fa-users"></i> Wiki</a></li>
                <li><a href="https://amicitia-team.tumblr.com/"><i class="fa fa-newspaper"></i> News</a></li>
                <li><a href="https://shrinefox.com/forum/app.php/faqpage"><i class="fa fa-question-circle"></i> FAQs</a></li>
                <p style="color:#FFFFFF7F;padding-left:14px;margin-bottom: 0px;">Apps</p>
                <li><a href="https://shrinefox.com/textsearch"><i class="fa fa-search"></i> Text Search</a></li>
                <li><a href="https://amicitia.github.io/docs/flowscript"><i class="fa fa-file-code"></i> Flowscript Docs</a></li>
                <li><a href="https://amicitia.github.io/files"><i class="fa fa-folder-open"></i> Files</a></li>
                <li><a href="https://shrinefox.com/PatchCreator"><i class="fa fa-check-square"></i> Patch.yml Creator</a></li>
            </ul>
        </div>
        <!--Header-->
        <div class="header">
            <canvas id="bgCanvas"></canvas>
            <!--Logo and Header Text-->
            <div>
                <center>
                    <table>
                        <tr>
                            <td style="text-align:right;">
                                <div class="logo"><img src="https://amicitia.github.io/images/logo.svg"></div>
                            </td>
                            <td>
                                <h1>amicitia.github.io</h1>
                                <h2>mods • tools • guides</h2>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
            <!--Waves-->
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(17,17,17,0.33)" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(17,17,17,0.6)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(17,17,17,0.6)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(17,17,17,1)" />
                    </g>
                </svg>
            </div>
            <!--Waves End-->
        </div>
        <!--Header End-->