                            </div>
                        </div>
                    </div>
                </td>
                <td width="75%">
                    <div class="text">
                        <b>Type</b>:
                        <select onchange="navigate()" id="type" name="type">
                            <option value="All">All</option>
                            <option value="Mod">Mods</option>
                            <option value="Tool">Tools</option>
                            <option value="Cheat">Cheats</option>
                            <option value="Guide">Guides</option>
                        </select>
                        <b>Game</b>:
                        <select onchange="navigate()" id="game" name="game">
                            <option value="All">All</option>
                            <option value="P5">Persona 5</option>
                            <option value="P4">Persona 4</option>
                            <option value="P3FES">Persona 3 FES</option>
                            <option value="P3P">Persona 3 Portable</option>
                            <option value="P4G">Persona 4 Golden</option>
                            <option value="P3D">Persona 3 Dancing in Moonlight</option>
                            <option value="P4D">Persona 4 Dancing All Night</option>
                            <option value="P5D">Persona 5 Dancing in Starlight</option>
                            <option value="PQ">Persona Q</option>
                            <option value="PQ2">Persona Q2</option>
                            <option value="CFB">Catherine Full Body</option>
                            <option value="SMT3">Shin Megami Tensei Nocturne</option>
                            <option value="P4AU">Persona 4 Arena Ultimax</option>
                        </select>
                        <br />
                        <br />