<br>
<br>
<p style="font-size: 12px;line-height: 0.9;text-align:right;padding-right:10px;color:#fff;">
    We are NOT affiliated, associated, authorized, endorsed by, or in any way
    <br>officially connected with ATLUS, SEGA, or any of its subsidiaries or its affiliates.
    <br>The official ATLUS website can be found at <a href="https://atlus.com">https://atlus.com</a>.
    <br>ATLUS and SEGA are registered in the U.S. Patent and Trademark Office. ATLUS and PERSONA are
    <br>either registered trademarks or trademarks of ATLUS Co., Ltd. or its affiliates.
</p>
        </table>
<br>
<br>
<br>
<br>
<center>© ShrineFox 2020 - 2021. <a href="https://ko-fi.com/shrinefox"><i class="fa fa-coffee" aria-hidden="true"></i> Support</a></center>
<br>
    </div>
<!--Content End-->
<div class="footer"></div>
<!--Footer End-->
		</article>
		</form>
	</main>
</div>
